.App{
  text-align: center;
  background-color: var(--light-shades);
  color: var(--dark-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  color: var(--light-accent);
  background-color: var(--dark-shades);
  margin-top: 0px;
  width: 100%;
}

.reviewBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  font-size: 1rem;
  max-width: 800px;
  padding: 0 auto;
}

.reviewCard {
  background-color: var(--light-shades);
  border-radius: 10px;
  border: 1px solid var(--highlight-shade);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  max-width: 90vw;
  cursor: pointer;
}

@media (min-width: 768px) {
  .reviewBox {
    max-width: 1200px;
  }
  
  .reviewCard {
    width: 400px;
    max-width: 30vw;
  }
}

@media (min-width: 1024px) {
  .reviewCard {
    width: 300px;
    max-width: 25vw;
  }
}

.reviewCard h3 {
  font-size: 1.2rem;
  margin: 0;
  padding: 2px;
}

.reviewCard p {
  font-size: 1rem;
  margin: 5px 0;
}

.reviewCard img {
  max-width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

.reviewCard:hover{
  background-color: var(--highlight-shade);
  color: var(--dark-shades);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.indReview {
  background-color: var(--light-shades);
  color: var(--dark-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  border:  1px solid var(--highlight-shade);
}

.indReview h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 2px;
  color: var(--dark-shades);
}

.indReview p {
  font-size: 1rem;
  margin: 5px 0;
  text-align: left;
}

.indReview img {
  max-width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

.indReview .indReviewBody {
  font-size: 1rem;
  margin-top: 20px;
  text-align: left;
}

.designerInfo {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 60%;
}

.commentSection {
  margin-top: 20px;
  border:  1px solid var(--highlight-shade);
}
  
.commentCard {
  background-color: var(--light-shades);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  border:  1px solid var(--highlight-shade);
  text-align: left;
}

.commentauthor{
  text-align: left;
  font-weight: bold;
}

.commentCard p {
  font-size: 1rem;
  margin: 5px;
}
  
.commentBody {
  font-size: 1rem;
  margin: 10px 0;
  text-align: left;
}
  
.commentInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
  
.commentInfo p {
  font-size: 0.8rem;
  margin: 0;
}

ul{
  list-style-type: none;
}

.commentSection{
    background-color: var(--light-shades);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
}

.userimg{
    height: 90px;
    border-radius: 5px;
}

.reviewInfo {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  width: 60%;
}

.ReviewVoteButton {
  background-color: var(--light-shades);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:  1px solid var(--highlight-shade);
}

.ReviewVoteButton img {
  max-width: 100%;
  max-height: 100%;
}

.errormessage{
  display: flex;
  margin-top: 5px;
  color: rgb(89, 8, 8);
}

.addComment {
  background-color: var(--light-shades);
  border-radius: 10px;
  border: 1px solid var(--highlight-shade);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  max-width: 800px;
}

.addComment textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--highlight-shade);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  resize: vertical;
}

.addComment button {
  background-color: var(--dark-shades);
  color: var(--light-accent);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.addComment button:hover {
  background-color: var(--dark-accent);
}
