:root {
  --light-shades: #FAF9E8;
  --light-accent: #eabb7ded;
  --main-color: #59C9E9;
  --dark-accent: #7583b6;
  --dark-shades: #060632;
  --highlight-shade: #f2d6b2ed;
  --dark-shades: #1c0c54;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--light-shades);
  color: var(--dark-accent);
}
